# Python
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.egg
*.egg-info/
dist/
build/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws

# Jupyter Notebook
.ipynb_checkpoints/
